<ion-header [translucent]="true">
  <ion-toolbar>
    <div  class="div-ion-toolbar">
      <ion-title class="ion-title">Task List</ion-title>
        <ion-fab-button [routerLink]="['/form-add']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">My Task List</h1>
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>11/08/2024 10:52</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
</ion-content>
