<ion-header [translucent]="true">
  <ion-toolbar>
    <div  class="div-ion-toolbar">
      <ion-title class="ion-title">Task List</ion-title>
        <ion-fab-button [routerLink]="['/form-add']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">My Task List</h1>

  <!-- Mostrar las cartas solo si hay datos -->
<ng-container *ngIf="data.length > 0; else noDataTemplate">
  <app-card-task *ngFor="let datas of data" [datas]="datas"></app-card-task>
</ng-container>

<!-- Mostrar un mensaje u otra carta cuando no haya datos -->
<ng-template #noDataTemplate>
  <ion-card>
    <ion-card-header>
      <ion-card-title>No hay datos disponibles</ion-card-title>
    </ion-card-header>
    <ion-card-content>Por favor, agrega nuevos datos para verlos aquí.</ion-card-content>
  </ion-card>
</ng-template>

</ion-content>
