
.empty-tasks__title {
  text-align: center;
  color: aqua;
}

.empty-tasks__img {
  justify-content: center;
  align-items: center;
}

.empty-tasks__praf {
  text-align: center;
}

.div-ion-toolbar {
  display: flex;
}

ion-fab-button {
  width: 51px;
  height: 54px;
}

.title {
  text-align: center;
  font-size: 35px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
