<ion-header [translucent]="true">
  <ion-toolbar>
    <div  class="div-ion-toolbar">
      <ion-title class="ion-title">Task List</ion-title>
        <ion-fab-button [routerLink]="['/form-add']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">My Task List</h1>

  <!-- Mostrar las cartas solo si hay datos -->
<ng-container *ngIf="data.length > 0; else noDataTemplate">
  <app-card-task *ngFor="let datas of data" [datas]="datas"></app-card-task>
</ng-container>


<ng-template #noDataTemplate class="ion-text-center" >
  <div id="container">
    <h2 class="empty-tasks__title">Nothing here yet!</h2>
    <img class="empty-tasks__img" src="../../assets/empty-tasks.png" alt="">
    <p class="empty-tasks__praf">It seems that you have no pending tasks at the moment. Relax or Add new tasks to keep your day productive</p>
  </div>
</ng-template>

</ion-content>
